/* -----------------------------------*/
/* ---------->>> Navbar <<<-----------*/
/* -----------------------------------*/

header,
.header {
    position: fixed;
    width: 100;
    background-color: #FFFFFF;
    color: white;
    border-bottom: 1px solid #8D8181;
    font-family: 'Roboto Mono';
}

header #main-nav,
.header #main-nav {
    position: absolute;
    left: 10px;
    width: 93.4%;
    height: 45vh;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    text-align: center;
}

header #main-nav li,
.header #main-nav li {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin-left: -6%;

}

header #main-nav li a,
.header #main-nav li a {
    color: #8D8181;

}

header #brand-container,
.header #brand-container {
    text-align: center;
    letter-spacing: 0px;
}

header #hamburger,
.header #hamburger {
    color: #FFFCFC;
    background-color: #2C4771;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

header #hamburg6.5r,
.header #hamburger {
    border: none;
    border-radius: 0;
}

header #hamburger .fa-bars {
    font-size: 300%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #28F250;
    margin-right: 14%;
}


#hamburger-title {
    font-size: 70%;
    color: #FFFCFC;
}

#hamburger-title:hover {
    border: none;
}

.nav-link {
    color: #8D8181;
    font-size: 100%;
}

.nav-link:hover {
    color: #8D8181;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #28F250;
}

/* -----------------------------------*/
/* -------->>> Menu Perfil <<<--------*/
/* -----------------------------------*/

#main-nav-img {
    border-radius: 50%;
    border: 1px solid black;
    width: 90px;
    height: 90px;
    margin-top: 3vh;
}

#main-nav-none {
    position: absolute;
    margin-top: 4vh;
    margin-left: -8vh;
}

#main-nav-alts {
    position: absolute;
    margin-top: 6vh;
    margin-left: -8vh;
}

#main-nav-sair {
    position: absolute;
    margin-top: 18vh;
    margin-left: 10vh
}

/* -----------------------------------*/
/* ---------->>> Conteudo <<<---------*/
/* -----------------------------------*/

#conteudo {
    position: absolute;
    text-align: center;
    font-family: 'Roboto Mono';
    color: #2C4771;
    top: 30%;
    right: 15%;
}

#conteudo h1 {
    font-size: 270%;
    font-weight: 600;
    margin-bottom: 3%;
}

#conteudo h2 {
    font-size: 120%;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15%;
}

#conteudo .btn {
    color: #FFFFFF;
    background-color: #28F250;
    border: none;
    font-size: 80%;
    font-family: 'Roboto Mono';
    border-radius: 30px;
    width: 150px;
}

